<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="hair-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hair
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="hair-link">
                <a href="{% url 'products' %}?category=Afro" class="dropdown-item">Kinky-Afro</a>
                <a href="{% url 'products' %}?category=Blowout" class="dropdown-item">Kinky-Blowout</a>
                <a href="{% url 'products' %}?category=Curly" class="dropdown-item">Kinky-Curly</a>
                <a href="{% url 'products' %}?category=Afro,Blowout,Curly" class="dropdown-item">All Hair</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="haircare-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hair Care
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="haircare-link">
                <a href="{% url 'products' %}?category=wash_moisturizers" class="dropdown-item">Wash &amp; Moisturizers</a>
                <a href="{% url 'products' %}?category=combs_dryers" class="dropdown-item">Combs &amp; Dryers</a>
                <a href="{% url 'products' %}?category=wash_moisturizers,combs_dryers" class="dropdown-item">All Haircare</a>
            </div>
        </li>

    </ul>
</div>